/* ==========================================================================
Foundation
========================================================================== */
.h1 {
  font-size: 104px;
  font-weight: 500;
}

.h2 {
  font-size: 42px;
}

.h3 {
  font-size: 28px;
}

/* ==========================================================================
Layout
========================================================================== */
#wrapper {
  position: relative;
  background-color: #130f30;
}

header {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #130f30;
  display: none;
  z-index: 5;
}

section {
  background-color: #ffcc00;
}

#top {
  background-image: url(../images/bg1.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
}

footer {
  height: 800px;
  background-color: #130f30;
}

/* ==========================================================================
Object
========================================================================== */
.c-text {
  font-family: "Exo", sans-serif;
  color: #130f30;
}

.c-btn {
  width: 200px;
  font-size: 24px;
}
.c-btn--top {
  width: 180px;
  height: 50px;
  border: 2px solid #130f30;
  border-radius: 8px 8px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #130f30;
}

.c-headline {
  margin-top: 100px;
}

.c-paragraph, .c-form__contents {
  text-align: left;
}

.c-garelly__children {
  margin-bottom: 10px;
  box-sizing: border-box;
}
.c-garelly__children img {
  cursor: pointer;
  z-index: 1;
}
.c-garelly__children--hover {
  width: 100%;
  height: 100%;
  background-color: rgba(19, 15, 48, 0.7);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  cursor: pointer;
  z-index: 2;
}
.c-garelly__children--hover p {
  text-align: left;
  box-sizing: border-box;
  padding-top: 5px;
  padding-left: 10px;
}

.c-imageBox {
  position: relative;
}

.c-form__contents {
  margin-bottom: 10px;
}
.c-form__contents label {
  margin-left: 5px;
}
.c-form__contents textarea {
  height: 102px;
}
.c-form__contents .help-block {
  display: inline-block;
  font-size: 10px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 2px;
}

.p-nav {
  background-color: #130f30;
  box-sizing: border-box;
  margin-right: 50px;
  margin-bottom: 0px;
  float: right;
}
.p-nav__child {
  height: 60px;
  line-height: 60px;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  float: left;
  margin-left: 25px;
}
.p-nav__child__link {
  color: #ffcc00;
}
.p-nav__child__link:hover {
  text-decoration: none;
}

.p-logo {
  max-width: 320px;
  width: 60%;
}

.p-paragraph--about {
  width: 80%;
  margin: 0 auto;
}

.p-garelly--works {
  margin-top: 40px;
}

.p-form {
  margin-top: 40px;
}
.p-form__input {
  margin-bottom: 30px;
}

.p-form__output {
  width: 200px;
}

.p-modal__close {
  cursor: pointer;
}
